Source: wallpaperexo
Section: utils
Priority: extra
Maintainer: Matilde Cabrera <mati331@hotmail.es>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/mati3/wallpaperExO

Package: wallpaperexo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wallpaper of logo OpenExO
