Source: wallpaperexo
Section: x11
Priority: optional
Maintainer: Matilde Cabrera <matilde.cabrera@openexo.com> 
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.2
Homepage: https://github.com/exolever/openexo-wallpapers

Package: wallpaper-openexo
Architecture: all
Depends: ${misc:Depends},
Description: Wallpaper of logo OpenExO
