Source: openexo-wallpapers
Section: x11
Priority: optional
Maintainer: OpenExO IT Team <it@openexo.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.5
Homepage: https://github.com/exolever/openexo-wallpapers

Package: openexo-wallpapers
Architecture: all
Description: OpenExO Wallpapers
