Source: openexo-wallpapers
Section: x11
Priority: optional
Maintainer: OpenExO IT Team <it@openexo.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.2
Homepage: https://github.com/exolever/openexo-wallpapers

Package: openexo-wallpapers
Architecture: all
Depends: ${misc:Depends}, 
Description: OpenExO Wallpapers
